body {
    background-color: rgb(194, 215, 213); /* sets the background color of the body */
    font-family: Arial, Helvetica, sans-serif; /* sets the font family of the body */
    margin: 0; /* removes the default margin of the body */
    padding: 0; /* removes the default padding of the body */
    align-items: center; /* centers the items horizontally */
    justify-content: center; /* centers the items vertically */

    transition: background-image 1s ease-in-out;
    background-size: cover;
    background-position: center;
    z-index: -2;
}



.image-container {
        display: flex; /* makes the image container a flex container */
        flex-direction:row; /* sets the direction of the flex container to column */
        justify-content: center; /* aligns the images to the start of the flex container */
        gap: 10px;
        align-items: center; /*This ones THIS ONE CENTERS THE IMAGES */

        margin-inline: auto; /* centers the image container horizontally */
        position: relative; /* positions the image container relative to its parent */
        margin-top: 1rem; /* sets the top margin of the image container */
        overflow: hidden;
        /*flex-wrap: wrap; /* allows the images to wrap to the next line if there is not enough space */
        max-width: 1536px; /* sets the maximum width of the image container */
        border-radius: 600px;
        height: 160px;/* sets the height of the image container */
       /* background: linear-gradient(to right, #e3eaea,  #b5c0bf); /* background color of the image container */
        box-shadow: 1px 0px 10px black
       /* border: 5px solid #fcfcfc; /* border color of the image container */
}
@keyframes scrollingleft {
    to {
        left: -200px; /* moves the image container to the left */
    }
}

@keyframes scrolling {
    0% {
        transform: translateX(0%); /* initial position */
    }
    90% {
        transform: translateX(-500%); /* final position */
    }
    100% {
        transform: translateX(0%); /* reset to initial position */
    }
}   
img {
            display: flex; /* makes the image container a flex container */
            justify-content: center; /* centers the images horizontally */
            align-items: center; /* centers the images vertically */
            flex-wrap: wrap; /* prevents the images from wrapping to the next line */
            gap: 15px;
            margin:auto;
            width: 150px;
            height: 150px;
            border-radius: 600px;
            border: 5px solid linear-gradient(to right, #f2f0f0,  #0713ef); /* border color of the image */
            position: absolute; /* positions the image relative to its parent */
            left: 100%; /* positions the image to the right of the image container */
            animation: scrollingleft 11s infinite linear; /* makes the image scroll to the left */
            animation-delay: 12s;
            transition: all ease 0.5s; /* this gives an effect to when the hover affect is no longer being activated */
            /* animation: scrollingleft;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear; /* makes the animation smooth */
}


p.username {
            
            font: normal  Arial, Helvetica, sans-serif;
            font-size: 20px;
            color: rgb(12, 2, 2);
            text-align: left;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 10px;
            margin-right: 1220px;

            justify-self: flex-start;/* aligns the text to the start of the flex container */
            border-radius: 50px; /* rounded corners */
            border-color: rgb(206, 16, 16);
            border-style: l;
            border-width: 3px;
            box-sizing: border-box;
            padding: 10px;
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
            transition: all ease 0.5s
            
}
p.username:hover{
            transform: scale(1.20);
            transition: transform 0.5s ease-in-out 0.5s;
}
.box-container{
    display:flex;
    /*flex-direction: column;  default is row  makes the flex box container line up or be in colums*/ 
    justify-content: space-between; /* space-evenly, space-between, center, flex-start, flex-end. adjusts the    */
    /*align-items: flex-start; /* center, flex-start, flex-end, stretch  if its colums align-items has more power*/
    flex-wrap: wrap; /* wrap, nowrap, wrap-reverse.  makes the flex box container line up or be in colums*/
    /* gap;; /* adds space between the flex items */
    /*flex-basis: 100px; /* sets the width of the flex items */

    height: 100px;
    width: 840px;
   /* margin: 10px;*/
}
.box1 {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-color, #ffffff);
    color: var(--text-color, #04f659);
    transform: translateX(1vw);
    animation: boxAnimation 0.5s ease-in-out infinite alternate;; 
    height: 20px;
    width: auto;
    /*flex-grow: 1; /* allows the box to grow and fill the available space */
    /*flex-shrink: 0; /* allows the box to shrink if there is not enough space */
    /* flex-basis: 1110px; /* sets the width of the flex items */
    /*flex: 1; /* shorthand for flex-grow, flex-shrink, and flex-basis */
    /*align-self: center; /* aligns the item to the start of the flex container */
    /*order: 1; /* sets the order of the item in the flex container */
}
@keyframes boxAnimation {
    to {/* keyframes for the animation */
        transform: translateX(-1vw) rotateX(-10deg);
        scale: 1.09; /* scale the box to 1.09 times its original size */
        /*translateX(1vw);  move the box to the right by 1vw */
        /*rotate: -10deg;  rotate the box by -10 degrees */

    
    }
}
.box2 {
    border: 0px solid rgb(206, 16, 16);
    height: 20px;
    width: 150px;
    background-color: var(--bg-color, #ffffff);
    color: var(--text-color, #04f659);

    padding: 10px;
    border-radius: 10px;
    box-shadow:  1px 5px 20px rgba(0, 0, 0, 0.2);

   /* transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s; */

    transition: transform 1s ease, background-color 1s linear, scale 1s ease;

    /*flex-grow: 1; /* allows the box to grow and fill the available space */
    /*flex-shrink: 0; /* allows the box to shrink if there is not enough space */
    /*flex-basis: ; sets the width of the flex items */
}
.box3 {
    height: 20px;
    width: 150px;
    background-color: var(--bg-color, #ffffff); /* background color of the box */
    color: var(--text-color, #04f659); /* text color of the box */
    padding: 10px; /* padding inside the box */
    border: 5px solid rgb(91, 239, 65); /* border of the box */
    border-radius: 10px; /* rounded corners */
    box-shadow:  1px 5px 20px rgba(0, 0, 0, 0.2); /* box shadow for the box */

    animation: boxAnimation2 5s ease-in-out infinite; /* animation for the box */
    
   /* animation-name: boxAnimation2; /* name of the animation  
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    /*animation-direction: alternate;  makes the animation alternate between forward and backward */
    /*animation-fill-mode: both;*/
   /* animation-play-state: paused;  makes the animation run */ 

} 
.box4 {
    padding: 3em 3em; /* top-bottom left-right adjustments (em) is the short-hand version 1em is for the top and right lengths and the second em is for the bottom and left side lengths*/
    font-weight: 600; /* changes the font weight/boldness max: 1000*/
    border: none; /*removes the default border around the button*/
    border-radius: 90px; /*rounds th ecorners of the box*/
    overflow: hidden;
    color: #ffffff; /*the texts color*/
    background: linear-gradient(to right, #ffffff, rgb(255, 0, 0));
    position: relative; /* allows the position:absolute; to be positioned/start at the realitive position of the box4*/
    z-index: 0; /*sets the stacking order (this box4 will sit below anything higher than 0)*/
    cursor: pointer;
}
.box4::after{
    content:'';
    align-content:center;
    font-weight: 600p;
    background: linear-gradient(to right, rgb(252, 0, 0), rgb(183, 0, 255));
    overflow: hidden;
    height: 100%; /* used to position/height the after effects height with box4 */
    width: 0%; /* initially zero width -- to hide the after effect and in the hover section itll have width 100% */
    border-radius: 2px;/* used to match the shape of the button so it blends in smoothly*/
    position: absolute;
    left: 0;/*inital starting point of the change effect from the left side*/
    top: 0; /*keeps the initial change effect balanced*/
    z-index: 1; /* due to the stacking order made in .b0x4 allows the after effect in this section to appear BEHIND the initial usualyy 0 and -1*/
    transition: 1s ease-in-out;
}
.box4:hover::after{
    width: 100%; /* this is the completion rate of the box::after color change*/
}

.box4:hover::before {
    color:rgb(255, 255, 255);
}
@keyframes boxAnimation2 {
    0% {
        transform: rotateX(0deg) rotateY(0deg) /* initial position and rotation */
        rotateZ(0deg);
    } 
    25% {
        transform: rotateX(60deg) rotateY(60deg)
        rotateZ(30deg);
    }
    50% {
        transform: rotateX(120deg) rotateY(120deg)
        rotateZ(120deg);
        /* middle position and rotation */
        /*rotateZ(360deg);  rotate the box by 360 degrees */
    }
    75% {
        transform: rotateX(180deg) rotateY(180deg)
        rotateZ(180deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg) /* final position and rotation */
        rotateZ(0deg);
    }
}
img:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}



.box2:hover {
    transform: rotate(360deg);
    background-color: rgb(16, 168, 206);
    scale: 2;

}

.pic1 {
    animation-delay: 1s;/* calc(30s / 8 * (8 - 1) * -1);*/
}
.pic2 {
    animation-delay: 2s; /*calc(30s / 8 * (8 - 2) * -1);*/
}
.pic3 {
    animation-delay: 3s; /*calc(30s / 8 * (8 - 3) * -1);*/
}
.pic4 {
    animation-delay: 4s; /*calc(30s / 8 * (8 - 4) * -1);*/
}

.pic5 {
    animation-delay: 5s; /*calc(30s / 8 * (8 - 5) * -1);*/
}
.pic6 {
    animation-delay: 6s; /* calc(30s / 8 * (8 - 6) * -1);*/
}
.pic7 {
    animation-delay: 7s; /* calc(30s / 8 * (8 - 7) * -1);*/
}
.pic8 {
    animation-delay: 8s; /*calc(30s / 8 * (8 - 8) * -1); */
}
.pic9 {
    animation-delay: 9s;/* calc(30s / 8 * (8 - 9) * -1); */
}
.pic10 {
    animation-delay: 10s; /*calc(30s / 8 * (8 - 10) * -1); */
}
.pic11 {
    animation-delay: 11s; /*calc(30s / 8 * (8 - 11) * -1);*/
}
button {
    content:" ";
    border-radius: 60px;
    border: none;
    color: #fafaff;
    background: linear-gradient(to right, #a4ff06, #491ae4);
    /*box-shadow: 0px 1px 15px black; /* left/right , up down, thickness*/
    height: 60px;
    width: 90px;
    transition: all ease 1s;

}
button::after{
    content:" ";
    background: linear-gradient(to left,#491ae4,#a4ff06 );
    overflow: hidden;
    color:red;
    height: 100%;
    width: 0%;
    border-radius: 60px;
    left: 0;
    top: 0;

    transition: 2s ease-in-out;
}
button:hover{
    transform: scale(1.5);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    transition: 0.3s ease-in-out;
}
button:hover::after{
    width: 100%;

}